build/
build/*
CMakeCache.txt
Makefile
CMakeFiles/
CMakeFiles/*
cmake_install.cmake
formelsammlung_chattopadhyay.aux
formelsammlung_chattopadhyay.log
formelsammlung_chattopadhyay.pdf
formelsammlung_chattopadhyay.out
formelsammlung_chattopadhyay.synctex.gz
distribution*
process_distribution.cpython-34m.so
